*{
	margin: 0;
	padding: 0;
}
/*矢量图开始*/
@font-face {
	font-family: 'iconfont';
	src: url('../font/iconfont.eot');
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
	url('../font/iconfont.woff') format('woff'),
	url('../font/iconfont.ttf') format('truetype'),
	url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
	font-family:"iconfont" !important;
	font-size:16px;font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.cw-icon{
	overflow: hidden;
	position: relative;
	z-index: 1;
	float: left;
	border: 1px solid #e3e4e5;
}
/*矢量图结束*/
ul, ol,li{ list-style:none; }/*去掉序号点*/
body{
	font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,"\5B8B\4F53",sans-serif;
    color: #666;
    background-color: #E5E5E5;
}
div{
	display: block;
}

.section{
	width: 70vw;
	margin: 0 15vw 0 15vw;
	position: relative;
}

.float_left{
	float: left;
}
.float_right{
	float: right;
}

.banner{
	position: relative;
	margin: 0 auto;
}

.banner a{
    display: block;
    width: 100%;
    height: 80px;
    background: url(../img/广告横幅-大.jpg) no-repeat 50% 0;
}

header{
	position: relative;
	height: 170px;
}

.logo{
	width: 12vw;
	background-color: red;
}
.logo a{
	display: block;
	width: 100%;
	height: 170px;
	background: url(../img/logo.png) no-repeat 50% 0;
}

.search,.panel{
	width:46vw;
}

.panel{
	position: absolute;
	margin-top: 35px;
}

.container_main{
	width: 40vw;
}

.panel li{
	display: none;
}

.tab{
	margin-top: 50px;
}
.tab li{
	background: url(../img/lgray2.png);
	height: 25px;
	width: 5vw;
	float: left;
	right: 0px;
	cursor: pointer;
	text-align: center;
	display: block;
	color: white;
	border-radius: 2px;
	border: 1px solid white;
	margin-bottom: 5px;
}

.search_active{
	background: url(../img/gray.png)  !important;
}

#search_empty_left{
	visibility:hidden;
	width:6vw;
	background:url();
	color:white;
	pointer-events: none;
}

.panel_web_open{
	height: 32px;
}

.panel_open_menu{
	position: relative;
	display: none;
	width: 6vw;
	border-bottom: none;
	background: #fff;
	z-index: 999;
}
.panel_open_menu a{
	border: none !important;
	margin-bottom: 5px;
}


.panel a{
	display: block;
	float: left;
	width: 6vw;
	height: 32px;
	text-indent: -1000px;
	border: 1px solid #dedede;
	cursor: pointer;
	background-image: url(../img/search-chinese.png);
	background-repeat: no-repeat;
}

.baidu{
	background-position: center -288px; 
}
.google{
	background-position: center -320px;
}
.bing{
	background-position: center -352px;	
}
.sogou{
	background-position: center -384px;
}
.qihoo360{
	background-position: center -448px;
}
.bilibili{
	background-position: center 0;
}
.acfun{
	background-position: center -32px;
}
.soku{
	background-position: center -98px;
}
.nico{
	background-position: center -130px;
}
.baidutieba{
	background-position: center -576px;
}
.sogouimg{
	background-position: center -384px;
}
.googleimg{
	background-position: center -320px;
}
.bingimg{
	background-position: center -352px;	
}
.sogouimg{
	background-position: center -384px;
}
.qihoo360img{
	background-position: center -448px;
}
.xiami{
	background-position: center -161px;
}
.baidumusic{
	background-position: center -288px;
}
.baidubaike{
	background-position: center -194px;
}
.youdao{
	background-position: center -416px;
}
.googlefanyi{
	background-position: center -320px;
}
.baidufanyi{
	background-position: center -194px;
}

.showing_logo a{
	border: 0;
}

.open_button{
	margin-top: 10px;
	width: 1vw;
	height: 19px;
	background-position: 3px -23px;
	float: left;
	cursor: pointer;
	border-radius: 1px;
	background-image: url(../img/selector.png); 
}

.search_text{
	width: 30vw;
	height: 32px;
	border: 1px solid #AAA;
	border-radius:20px;
	font-size: 1.4em;
	padding-left: 0.5vw;
	float: left;
}

.search_text:focus{
    outline:none;
}

.search_button{
	width: 5vw;
	height: 32px;
	font-size: 1.3em;
	float: left;
}

.account{
	width: 10vw;
}

.sort ul li{
	float: left;
	width: 7vw;
	height: 20px;
}

.sort ul:first-child{
	margin-left: 4vw;
}
.sort ul li:nth-child(2){
	margin-left: 3.8vw;
	padding-left: 1.6vw;
	border-left: 2px solid #CCCCCC;
}
.sort ul li:nth-child(7){
	width: 2vw;
}
#sort_normal_li{
	float: right;
	width: 14.8vw;
	border-left: 2px solid #CCC;
	height: 20px;
}

.container_left{
	width: 14.8vw;
	border-right: 2px solid #CCCCCC;
	height: 395px;
}

h2{
	text-align: center;
}

.sort_left li{
	height: 38px;
	border-top: 1px solid grey;
}



.sort_left_focus{
	height: 90px !important;
	margin-top: 1px !important;
}



.sort_left li a img:nth-child(1){
	margin-left: 0.6vw;
	margin-top: 1.5px;
	margin-bottom: 2px;
	float: left;
	height: 35px;
}



.sort_left_focus a img:nth-child(1){
	margin-top: 0 !important;
	margin-left: 0.5vw !important;
	margin-bottom: 0 !important;
	float: left !important;
	height: 86px !important;
	overflow: hidden !important;
}


.sort_left li a div p{
	margin-left: 0.5vw;
	width: 11vw;
	float:left;
	left: 0;
	height: 35px;
	font-size: 15px;
	line-height: 30px;
	overflow: hidden;
}



.sort_left_focus a div p{
	margin-left: 0.5vw !important;
	width: 9vw !important;
	float:left;
	left: 0;
	height: 45px !important;
	font-size: 15px !important;
	overflow: hidden ;
	line-height: 23px !important;
}



.sort_left li a :nth-child(3){
	display: none;
}

.sort_left_focus a :nth-child(3){
	display: block !important;
}

.container_right{
	width: 14.8vw;
	border-left: 2px solid #CCC;
	height: 395px;
}
.sort_right li{
	height: 38px;
	border-top: 1px solid grey;
}

.sort_right_focus{
	height: 90px !important;
	margin-top: 1px !important;
}

.sort_right li a img:nth-child(1){
	margin-left: 0.6vw;
	margin-top: 1.5px;
	margin-bottom: 2px;
	float: left;
	height: 35px;
}

.sort_right_focus a img:nth-child(1){
	margin-top: 0 !important;
	margin-left: 0.5vw !important;
	margin-bottom: 0 !important;
	float: left !important;
	height: 86px !important;
	overflow: hidden !important;
}

.sort_right li a div p:nth-child(1){
	margin-left: 0.5vw;
	width: 11vw;
	float:left;
	left: 0;
	height: 35px;
	font-size: 15px;
	line-height: 30px;
	overflow: hidden;
}


.sort_right_focus a div p:nth-child(1){
	margin-left: 0.5vw !important;
	width: 9vw !important;
	float:left;
	left: 0;
	height: 45px !important;
	font-size: 15px !important;
	overflow: hidden ;
	line-height: 23px !important;
}


.sort_right li a :nth-child(3){
	display: none;
}

.sort_right_focus a :nth-child(3){
	display: block !important;
}



h3{
	margin-left: 2px;
}

.sort_main ul{
	float: none;
}

.sort_main li{
	width: 153.6px;
	height: 180px;
	float: left;
	margin: 2.7px 0 0 0;
	overflow: hidden;
	box-sizing: border-box;
}

.sort_main li div{
	padding: 0 11px 0 11px;
	float: left;
	height: 180px;
	width: 153.6px;
}

.sort_main li div img{
	height: 100%;
	width: 128.56px;
}

.sort_normal_main ul li{
	float: left;
	width: 6.6vw;
	height: 50px;
}

.sort_normal_main ul li a{
	font-size: 14px;
}

.sort_left_normal li{
	height: 64px;
	border-top: 1px solid grey;
}
.sort_left_normal_focus{
	height: 104px !important;
	margin-top: 1px !important;
}
.sort_left_normal li a img:nth-child(1){
	margin-left: 0.6vw;
	margin-top: 1.5px;
	margin-bottom: 2px;
	float: left;
	height: 61px;
}
.sort_left_normal_focus a img:nth-child(1){
	margin-top: 1px !important;
	margin-left: 0.5vw !important;
	margin-bottom: 0 !important;
	float: left !important;
	height: 100px !important;
	overflow: hidden !important;
}

.sort_left_normal li a div p{
	margin-top: 5px;
	margin-left: 0.5vw;
	width: 8vw;
	float:left;
	left: 0;
	height: 61px;
	font-size: 15px;
	line-height: 30px;
	overflow: hidden;
}
.sort_left_normal_focus a div p{
	margin-top: 10px;
	margin-left: 0.5vw !important;
	width: 6vw !important;
	float:left;
	left: 0;
	height: 100px !important;
	font-size: 15px !important;
	overflow: hidden ;
	line-height: 23px !important;
}

.sort_right_normal li{
	height: 64px;
	border-top: 1px solid grey;
}
.sort_right_normal_focus{
	height: 104px !important;
	margin-top: 1px !important;
}
.sort_right_normal li a img:nth-child(1){
	margin-left: 0.6vw;
	margin-top: 1.5px;
	margin-bottom: 2px;
	float: left;
	height: 61px;
}
.sort_right_normal_focus a img:nth-child(1){
	margin-top: 1px !important;
	margin-left: 0.5vw !important;
	margin-bottom: 0 !important;
	float: left !important;
	height: 100px !important;
	overflow: hidden !important;
}

.sort_right_normal li a div p{
	margin-top: 5px;
	margin-left: 0.5vw;
	width: 8vw;
	float:left;
	left: 0;
	height: 61px;
	font-size: 15px;
	line-height: 30px;
	overflow: hidden;
}
.sort_right_normal_focus a div p{
	margin-top: 10px;
	margin-left: 0.5vw !important;
	width: 5vw !important;
	float:left;
	left: 0;
	height: 100px !important;
	font-size: 15px !important;
	overflow: hidden ;
	line-height: 23px !important;
}


.sort{
	position: relative;	
	border: 1px solid rgb(136,0,21);
	overflow: hidden;
}

.commonNavigation{
	position: relative;
	border: 1px solid rgb(225,174,201);
	overflow: hidden;
}

.container{
	position: relative;
	border: 1px solid rgb(63,72,204);
	overflow: hidden;
	height: 395px;
}

.footer{
	position: relative;
	border: 1px solid rgb(127,127,127);
	overflow: hidden;
}
